.homePage_main_div {
    display: flex;
    flex-direction: column;
    width: 98vw;
}

.navbar-spacer {
    height: 60px;
}

.categoryCard_main_div {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    background-color: white;
    border: 1px solid black;
    width: 20%;
    height: 300px;
    margin: 15px;
    border-radius: 5px;
    overflow: hidden;
}

.categoryCard_background--img {
    height: 100%;
    position:absolute;
    /* z-index: -1; */
}

.categoryCard_titles_background_div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 0px 10px 0px;
    z-index: 2;
}

.categoryCard_title {
    margin: 5px;
    font-size: 20px;
    color: whitesmoke;
}

.subCat_title_link {
    color: white;
    width: 100%;
    padding: 7px;
    font-size: 13px;
}

.subCat_title_link:hover {
    background-color: rgba(0,0,0,0.5);
}


.categoryCards_parent_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid black;
    margin: 20px;
}
