.cartList-main-container--div {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.cartPage-item--img {
    height: 60px;
}

.cartList-item-container--div {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.carList-item-img-title--div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 100px;
    margin-left: 15px;
    border: 1px solid red;
}
