.subCategory-main-container--div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    width: 98vw;
    margin: 10px;
    border: 1px solid red;
}

.subCategory-search-sidebar--div {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 20%;
}

.subCategory-items-main--div {
    width: 80%;
    border: 1px solid green;
}

.subCategory-items-count--div {
    border-bottom: 1px solid rgba(red, green, blue, 0.25);
}

.subCategory-items-list--div {
    display: flex;
    /* padding: 10px; */
    margin: 10px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.subCategory-item-card--div {
    width: 340px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: box-shadow 0.3s;
    /* border: 1px solid black; */
}

.subCategory-item-card--div:hover {
    box-shadow: 0px 0px 5px gray;
}

.subCategory-item-card--img {
    width: 250px;
}

.subCategory-item-card-details--div {
    width: 100%;
    font-size: 20px;
}

.subCategory-item-card-name--div {
    
}
