.navbar-main--div {
    position: fixed;
    width: 97vw;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgba(115, 115, 115, 0.397);
}

.navbar-category-title--div {
    display: flex;
}

.navbar-category-menu--icon {
    font-size: 25px;
    padding-right: 15px;
}

.navbar-category-menu--icon:hover {
    cursor: pointer;
}

.navbar-shopping--icon {
    position: relative;
    font-size: 25px;
    margin-right: 10px;
}

.navbar-shopping--icon:hover {
    cursor: pointer;
}

.cart_count {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    top: 0;
    right: 0;
    border-radius: 15px;
    background-color: orange;
    font-size: 12px;
    padding: 3px;
}

.navbar-login-cart--div {
    display: flex;
}

.navbar-shopping-cart--link {
    color: black;
}

.navbar-site--title {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-nav-modal--div {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.category-nav--link {
    color: black;
    padding: 10px;
    transition: all 0.5s;
}

.category-nav--link:hover {
    background-color: rgb(67, 100, 77);
    color: white;
}
