.loginForm_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.loginForm_input {
    width: 100%;
}

.profile-button--icon {
    font-size: 25px;
    margin-right: 10px;
}

.profile-button--icon:hover {
    cursor: pointer;
}

/* #modal-content {
    border-radius: 5px;
} */
