.login-modal-headline--container {
    max-width: 300px;
}

.loginForm_container {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
}

.loginForm-input--label {
    display: flex;
    margin: 10px 0 10px 0;
}

.required-asterisk {
    margin-left: 3px;
    color: red;
}

.loginForm_input {
    height: 30px;
    font-size: 20px;
    padding: 5px;
    border-radius: 0;
    margin-bottom: 15px;
    border: 1px solid gray;
    transition: all 0.3s;
}

.loginForm_input:focus {
    border-radius: 0;
}

.loginForm--button {
    width: 100%;
    border: 0;
    height: 35px;
    margin-top: 15px;
    transition: all 0.5s;
    font-weight: bold;
}

.valid_button {
    background-color: rgb(5, 59, 21);
    color: white;
    cursor: pointer;
}

.valid_button:hover {
    background-color: rgb(67, 100, 77);
}

.profile-button--icon {
    font-size: 25px;
    margin-right: 10px;
}

.profile-button--icon:hover {
    cursor: pointer;
}

.login-modal--headline {
    padding: 20px 0 0 20px;
    font-size: 18px;
}

.login_error--div {
    margin-top: 10px;
}

.login_error {
    color: red;
}

.signup--button {
    margin-top: 20px;
    font-size: 15px;
    width: 100%;
    padding: 7px;
    font-weight: bold;
    background-color: white;
    color: rgb(5, 59, 21);
    border: 1px solid rgb(5, 59, 21);
    transition: all 0.5s;
}

.signup--button:hover {
    background-color: rgb(5, 59, 21);
    color: white;
    cursor: pointer;
}

.signup-button--link {
    width: 100%;
}
